/* 消除a的下划线 */
a {
    text-decoration: none;
}


/* 关于左侧部分的布局 */
.left-panel {
    font-family: 'consolas';
    left: 5%;
    top: 5%;
    position: fixed;
    display: flex;
}

.smile-face {
    font-size: 20vmin;
}

.list-button {
    border: none;
    background-color: white;
    font-family: 'consolas', 'SentyChalk';
    font-size: 10vmin;
    margin-left: 10vmin;
    margin-top: 2vmin;
    width: 30vmin;
    border-radius: 10px;
    display: block;
}

.list-button:hover {
    background-color: rgb(235, 235, 235);
}

.outside-links {
    margin-top: 5vmin;
    margin-left: 6.6vmin;
    display: block;
}

.outside-link {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

#github-link {
    background-image: url('/assets/images/svg/github.svg');
}

#email-link {
    margin-left: 10px;
    background-image: url('/assets/images/svg/email.svg');
}


/* 关于终端部分的布局 */
.terminal {
    visibility: hidden;
}


/* 关于内容部分的布局 */
.content {
    top: 23%;
    left: 5%;
    width: 90%;
    height: 80%;
    color: black;
    overflow: auto;
    position: fixed;
    animation: fadeIn 0.2s ease-in-out;
}


@keyframes terminal-blink {

    0%,
    50% {
        background-color: transparent;
    }

    51%,
    100% {
        background-color: rgb(100, 100, 100);
    }
}

/* 淡入淡出动画 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes index-blink {
    to {
        visibility: hidden;
    }
}