@font-face {
    font-family: 'consolas';
    src: url('/assets/fonts/consola.ttf') format('truetype');
}
@font-face {
    font-family: 'SentySong';
    src: url('/assets/fonts/SentySong.ttf') format('truetype');
}

@font-face {
    font-family: 'ShuSong';
    src: url('/assets/fonts/ShuSong.ttf') format('truetype');
}

/* 关于笑脸部分的布局 */
.smile-face {
    font-size: 20vmin;
    font-family: 'consolas';
    left: 10%;
    top: 20%;
    position: fixed;
}


/* 关于终端部分的布局 */
.terminal {
    caret-color: transparent;
    outline: none;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    bottom: 1vh;
    height: 5vh;
    width: 97.5%;
    position: fixed;
}

.terminal-text-show {
    display: block;
    height: 2.5vh;
    font-size: 100%;
    font-family: 'consolas', 'ShuSong';
}

.terminal-text {
    color: rgb(100, 100, 100);
    height: 2.5vh;
    font-size: 100%;
    font-family: 'consolas', 'ShuSong';
    width: 100%;
}

.terminal-cursor {
    display: inline-block;
    width: 0.5vh;
    height: 2.5vh;
    animation: terminal-blink 1s infinite;
    vertical-align: middle;
}

@keyframes terminal-blink {

    0%,
    50% {
        background-color: transparent;
    }

    51%,
    100% {
        background-color: rgb(100, 100, 100);
    }
}


/* 关于内容部分的布局 */
.content {
    top: 10%;
    left: 35%;
    width: 50%;
    height: 80%;
    font-family: 'consolas';
    color: black;
    background-color: white;
    position: fixed;
}