@font-face{
    font-family: 'JinKai';
    src: url('/assets/fonts/JinKai.ttf') format('truetype');
}

#typewriter {
    font-family: 'JinKai';
}

/* 光标闪烁效果 */
.cursor {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background: black;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to { visibility: hidden; }
}