a.no-underline{
  color: black;
  text-decoration: none;
}
a.no-underline: active{
  color: #F4F6F9;
  text-decoration: none;
}
.post-excerpt {
  /* 这些样式会应用到首页的文章摘要 */
  background-color: #FFFFFF;
  border: 1px solid #ccc;         /* 添加边框 */
  padding: 1em;                   /* 添加内边距 */
  padding-bottom: 3em;
  margin-left: 100px;             /* 添加左外边距 */
  margin-right: 100px;            /* 添加右外边距 */
  margin-bottom: 1em;             /* 添加下外边距 */
  height: 10em;                   /* 限制文章摘要的高度为6行 */
  overflow: hidden;               /* 隐藏溢出的内容 */
}
