#typewriter {
    font-family: 'SentySong';
    font-style: bold;
    letter-spacing: 3px;
}

/* 光标闪烁效果 */
.cursor {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background: black;
    animation: index-blink 1s steps(2, start) infinite;
    vertical-align: middle;
}