.list-h1 {
    font-family: 'consolas', 'SentyChalk';
}

.list-ul {
    margin-top: 30px;
    column-gap: 15px;
}

.list-ul a {
    color: black;
    font-size: 3vmin;
    font-family: 'consolas', 'ShuSong';
}