body {
    font-family: Arial, sans-serif;
  }
  .post-excerpt {
    /* 这些样式会应用到首页的文章摘要 */
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
    height: 6em;    /* 限制文章摘要的高度为6行 */
    overflow: hidden;
  }
  
  .post-full {
    /* 这些样式会应用到完整的文章页面 */
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
  }