.post{
    animation: fadeIn 1s ease-in-out;
}

p {
    font-size: 4vmin;
    font-family: 'ShuSong';
    letter-spacing: 1px;
    line-height: 1.2;
}

h1 {
    font-size: 9vmin;
    font-family: 'SentyChalk';
}

h2 {
    font-size: 8vmin;
    font-family: 'SentySong';
}

h3 {
    font-size: 7vmin;
    font-family: 'SentySong';
}

h4 {
    font-size: 6vmin;
    font-family: 'SentySong';
}

h5 {
    font-size: 5vmin;
    font-family: 'SentySong';
}