<!-- 网页的基本布局 -->
<!DOCTYPE html>
<html>

<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
  <!-- 网页切换过渡动画需要的库 -->
  <style>
    body {
      visibility: hidden;
    }
  </style>
</head>

<body>

  <div class="left-panel">
    <!-- 大大大笑脸！ -->
    <div class="smile-face">
      :)
    </div>
    <!-- 目录页按钮和GitHub等链接 -->
    <a href="{{ '/_pages/list.html' | relative_url }}" class="list-link">
      <button class="list-button" href>目 录</button>
    </a>
    <div class="outside-links">
      <a id="github-link" class="outside-link" href="https://github.com/lushisi258" target="_blank"></a>
      <a id="email-link" class="outside-link" href="mailto:lushisi258@eqq.com"></a>
    </div>
  </div>

  <!-- 内容 -->
  <div class="content">
    {{ content }}
  </div>

  <!-- 终端交互区 -->
  <div class="terminal" contenteditable="true">
    <!-- 命令行的显示输出的一行 -->
    <span class="terminal-text-show">:) Everything is ready!</span>
    <span class="terminal-text"></span>
    <span class="terminal-cursor"></span>
  </div>

</body>
<script>
  window.onload = function() {
    document.body.style.visibility = 'visible';
  };
</script>

<script src="{{ '/assets/js/default.js' | relative_url }}"></script>

</html>