<!-- 网页的基本布局 -->
<!DOCTYPE html>
<html>

<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
</head>

<body>

  <!-- 大大大笑脸！ -->
  <div class="smile-face">
    :)
  </div>
  <!-- 内容 -->
  <div class="content">
    {{ content }}
  </div>

  <!-- 终端交互区 -->
  <div class="terminal" contenteditable="true">
    <!-- 命令行的显示输出的一行 -->
    <span class="terminal-text-show">aaasd你好</span>
    <span class="terminal-text"></span>
    <span class="terminal-cursor"></span>
  </div>
</body>

<script src="{{ '/assets/js/default.js' | relative_url }}"></script>

</html>